/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 320px;
  height: auto;
  margin: 0 auto;
  border: 1px solid;
}

.header {
  height: 480px;
  width: 320px;
  background-image: url(../../img/bkg.jpg);
}
.header__h1 {
  color: white;
  font-size: 50px;
}
.header__p {
  color: white;
  font-size: 50px;
}

.navh {
  width: 320px;
  height: 480px;
  background-color: hsl(163deg, 27.7%, 32%);
}
.navh__link {
  display: block;
}
.navh__close {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  padding-top: 15px;
}
.navh__closef {
  margin-right: 20px;
}
.navh__closex {
  font-size: 30px;
}

.ulh {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 745.6px;
  padding-left: 20px;
}
.ulh__link {
  color: white;
  font-size: 50px;
}

.section {
  margin-top: 20px;
  margin-bottom: 20px;
}
.section__img {
  width: 320px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.section__h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  padding-left: 5px;
}
.section__p {
  padding-left: 5px;
}
.section__link {
  padding-left: 5px;
  color: #549ff3;
}

.section__link--roll:hover {
  color: #f00;
}

.aside {
  height: 200px;
  background-image: url("../../img/bkg-form.jpg");
  display: flex;
}

.navf {
  background-color: #ff7fcf;
  padding: 20px 5px 20px 20px;
}

.ulf__li {
  background-color: rgba(120, 120, 120, 0.2);
  padding: 5px;
  margin-bottom: 5px;
}
.ulf__li--roll:hover {
  color: rgba(120, 120, 120, 0.8);
}
.ulf__link {
  color: #ededed;
  font-weight: bold;
  border-left: 20px solid white;
  padding-left: 5px;
}
.ulf__link--roll:hover {
  color: #fff;
}

body {
  font-family: Ubuntu, sans-serif;
  width: 500px;
  line-height: 1.25;
  font-size: 16px;
}