
.container {
    max-width: 320px;
    height: auto;
    margin: 0 auto;
    border: 1px solid;
}

// header

.header {
    height: 480px;
    width: 320px;
    background-image: url(../../img/bkg.jpg);
    background-size: contain;
    &__h1 {
        color: $default-font;
        font-size: $item-menu-size;
    }
    &__p {
        color: $item-menu;
        font-size: 20px;
    }
}

#burg {  
    display: block;
    position: absolute;
    width: 31px;
    height: 59px;
    border: 1px solid black;
}

// nav

.navh {
    width: 320px;
    height: 480px;
    background-color: $bkg-menu; 
    display: none;  
    &__link {
        display: block;
    }
    &__close {
        display: flex;
        justify-content: flex-end;
        padding-right: 15px;
        padding-top: 15px;
    }
    &__closef {
        margin-right: 20px;
    }
    &__closex {
        font-size: 30px;
    }
}
.ulh {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 745.6px;
    padding-left: 20px;       
    &__link {
        color: $item-menu;
        font-size: $item-menu-size;
    }
}

// main

// section

.section {
    margin-top: 20px;
    margin-bottom: 20px;
    &__img {
        width: 320px;
        height: auto;
        object-fit: cover;
    }
    &__h1 {
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: bold;
        font-size: 20px;
        padding-left: 5px;
    }
    &__p {
        padding-left: 5px;
    }
    &__link {
        padding-left: 5px;
        color: $main-colour-link;
    }
}

.section__link--roll:hover {
    color: $main-colour-link-roll;
}

// aside

// form

.form {
    height: 600px;
    background-image: url("../../img/bkg-form.jpg");
    background-size: 100%;
    display: flex;
}

// footer

.navf {
        background-color: $footer-bkg;
        padding: 20px 5px 20px 20px;
}  
.ulf {
    &__li {
        background-color: $footer-bkg-link;
        padding: 5px;
        margin-bottom: 5px;
        &--roll:hover {
            color: $footer-bkg-li-roll;              
        }
    }
    &__link {
        color: $footer-link-text;
        font-weight: bold;
        border-left: 20px solid white;
        padding-left: 5px;
        &--roll:hover {
            color: $footer-bkg-link-roll;              
        }
    }
}

// responsive-tablette

@media screen and(min-width>768px) {
    
}

// responsive-desktop

@media screen and(min-width>1024px) {
    
}
