
.container {
    max-width: 320px;
    height: auto;
    margin: 0 auto;
    border: 1px solid;
}

// header

.header {
    height: 480px;
    width: 320px;
    background-image: url(../../img/bkg.jpg);
    background-size: 320px 480px;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    &__h1 {
        color: $default-font;
        font-size: $item-menu-size;
    }
    &__p {
        color: $font-colour;
        font-size: 20px;
    }
    &__open {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 31px;
        height: 59px;
        border: 1px solid black;
    }
    }
    &__burgf {
        object-fit: none;
        object-position: 0 0;
        width: 31px;height: 59px;
    }
}

// navh

.navh {
    width: 320px;
    height: 480px;
    background-color: $bkg-menu;
}
    
.navhclose {
    display: flex;  
    &__p {
        font-size: 30px;
    }
    &__burg {
        object-fit: none;
        object-position: 0 0;
        width: 31px;height: 59px;
    }
}

.ulh {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    display: none;
    &__li {
        width: 320px;
    }       
    &__link {
        color: $item-menu;
        font-size: $item-menu-size;
    }
}

// main

// section

.section {
    margin-top: 20px;
    margin-bottom: 20px;
    &__img {
        width: 320px;
        height: auto;
        object-fit: cover;
    }
    &__h1 {
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: bold;
        font-size: 20px;
        padding-left: 5px;
    }
    &__p {
        padding-left: 5px;
    }
    &__link {
        padding-left: 5px;
        color: $main-colour-link;
    }
}

.section__link--roll:hover {
    color: $main-colour-link-roll;
}

// aside

// form

.form {
    height: 800px;
    background-image: url("../../img/bkg-form.jpg");
    background-size: 100%;
    display: flex;
}

// footer

// navf

.navf {
        background-color: $footer-bkg;
        padding: 20px 5px 20px 20px;
} 

.ulf {
    &__li {
        background-color: $footer-bkg-link;
        padding: 5px;
        margin-bottom: 5px;
        &--roll:hover {
            color: $footer-bkg-li-roll;              
        }
    }
    &__link {
        color: $footer-link-text;
        font-weight: bold;
        border-left: 20px solid white;
        padding-left: 5px;
        &--roll:hover {
            color: $footer-bkg-link-roll;              
        }
    }
}

// responsive-tablette

@media screen and(min-width>767px) and(max-width:1023px) {

    .container {
        width: 1023px;
    }
    .main {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: auto;
        grid-template-areas:
        "section2 section3"
        "section4 section5 section6"
        "section7 section8 section9";
    }
    .section2 {
        grid-area: section2;
    }       
    .section3 {
        grid-area: section3;
    }       
    .section4 {
        grid-area: section4;
    }       
    .section5 {
        grid-area: section5;
    }       
    .section6 {
        grid-area: section6;
    }       
    .section7 {
        grid-area: section7;
    }       
    .section8 {
        grid-area: section8;
    }       
    .section9 {
        grid-area: section9;
    }       
}

// responsive-desktop

@media screen and(min-width>1024px) and(max-width:1200px) {

        .container {
            width: 1200px;
        }
        .main {
            display: grid;
            grid-template-columns: repeat(4, 260px);
            grid-template-rows: auto;
            grid-template-areas:
            "section1 section2"
            "section3 section4 section5"
            "section6 section7 section8 section9";
        }
        .section1 {
            grid-area: section1;
        }
        .section2 {
            grid-area: section2;
        }       
        .section3 {
            grid-area: section3;
        }       
        .section4 {
            grid-area: section4;
        }       
        .section5 {
            grid-area: section5;
        }       
        .section6 {
            grid-area: section6;
        }       
        .section7 {
            grid-area: section7;
        }       
        .section8 {
            grid-area: section8;
        }       
        .section9 {
            grid-area: section9;
        }       
}
