
.container {
    max-width: 320px;
    height: auto;
    margin: 0 auto;
    border: 1px solid;
}

// header

.header {
    height: 480px;
    width: 320px;
    background-image: url(../../img/bkg.jpg);
    object-fit: cover;
    &__nav {
        width: 320px;
        height: 480px;
        background-color: $bkg-menu; 
        }
        &__nav-link {
            display: block;
        }
        &__close {
        display: flex;
        justify-content: flex-end;
        padding-right: 15px;
        padding-top: 15px;
        }
        &-f {
            margin-right: 20px;
        }
        &-x {
            font-size: 30px;
        }
        &__ul {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            height: 745.6px;
            padding-left: 20px;       
        }
            &__link {
                color: $item-menu;
                font-size: $item-menu-size;
            }
}

.section__img {
    width: 320px;
    height: auto;
    object-fit: cover;
}

// main

// section

.main__section {
    margin-top: 20px;
    &__h1 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

// aside

.main__aside {
    height: 200px;
    background-image: url("../../img/bkg-form.jpg");
    display: flex;
}

// footer

.nav {
    &__ul {
        background-color: $footer-bkg;
    }   
    &__li {
        background-color: $footer-bkg-link;
        padding: 5px;
        margin-bottom: 5px;
    }
    &__link {
        color: $footer-link-text;
    }
}

// responsive-tablette

@media screen and(min-width>768px) {
    
}

// responsive-desktop

@media screen and(min-width>1024px) {
    
}
